<nav class="navbar">
    <h2>Animal Farm</h2>
	<ul>
        <% for (let i = 0; i < categories.length; i++) { %>
            <li class="categoryList">
                <a href="/list/<%= categories[i].table_name %>">
                    <%= categories[i].table_name %> 
                </a>
            </li>
		<% } %>
        
        <li class="categoryList">
            <a href="/list/all">
                <span> view all </span>
            </a>
        </li>
	</ul>
</nav>
